<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racecar_gazebo)/worlds/racecar_robocar.world"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find racecar_description)/urdf/racecar.xacro'" />
  <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar -x -1.7 -y -2.0 -z 0.05 -Y 1.57" />
  <include file="$(find racecar_control)/launch/racecar_control.launch" ns="/"/>
  <arg name="racecar_version" default="racecar-v2" />
  <include file="$(find racecar)/launch/mux.launch" ns="vesc" />
  <node name="better_odom" pkg="topic_tools" type="relay"
          args="/vesc/odom /pf/pose/odom" />

  <arg name="x_pos" default="-0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <param name="cbot_description"
    command="$(find xacro)/xacro $(find racecar_gazebo)/urdf/cbot1.urdf.xacro"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -model cbot1 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param cbot_description"/> 
  <node name="cbot_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="robot_description" to="cbot_description" />
    <remap from="joint_states" to="joint_states_cbot" />
  </node>
  <node name="cbot_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="cbot_description" />
    <remap from="joint_states" to="joint_states_cbot" />
  </node>
 
  <!--
     <node pkg="tf" type="static_transform_publisher" name="odom_to_cbot" args="-0.5 0 0 0 0 0 odom cbot_footprint 100" />
  -->

 <!--
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find racecar_gazebo)/rviz/robocar_camera.rviz"/>
 -->

</launch>
